<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Localtunnel Manager</title>
    <link rel="stylesheet" href="/assets/bootstrap.min.css" />
  </head>
  <body>
    <%- include('components/topBar') %> <%- include('components/modal') %>
    <main class="container mt-2">
      <!-- table config -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Subdomain Request</th>
            <th scope="col">Remote Host:Port</th>
            <th scope="col">Enable</th>
          </tr>
        </thead>
        <tbody>
          <% tunnelConfigs.forEach(e => { %>
          <tr style="cursor: pointer">
            <td class="editItem" data-id="<%= e.id %>"><%= e.name %></td>
            <td class="editItem text-truncate" data-id="<%= e.id %>"><%= e.subdomain %></td>
            <td class="editItem" data-id="<%= e.id %>"><%= e.host %>:<%= e.port %></td>
            <td>
              <div class="form-check form-switch">
                <input class="form-check-input text-center enableItem" type="checkbox" role="switch" <%- e.enable ? 'checked' : '' %> data-id="<%= e.id %>" />
              </div>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <!-- end table config -->
      <div class="text-center">
        <button type="button" class="btn btn-primary btn-sm newTunnel" data-bs-toggle="modal" data-bs-target="#addItem">New Tunnel</button>
        <form action="/apply" class="d-inline" method="post">
          <button type="submit" class="btn btn-success btn-sm">Apply Changes</button>
        </form>
      </div>

      <!-- table status -->
      <table class="table table-striped border mt-2">
        <thead>
          <tr>
            <th scope="col">Subdomain Result</th>
            <th scope="col">URL</th>
            <th scope="col">Current Status</th>
          </tr>
        </thead>
        <tbody class="status"></tbody>
      </table>
      <!-- end table status -->
    </main>

    <script src="/assets/bootstrap.bundle.min.js"></script>
    <script src="/assets/script.js"></script>
  </body>
</html>
